.DS_Store
Thumbs.db
Thumbs.db.meta

*/StreamingAssets/buildInfo.txt*

Assets/Dropbox/VO
Assets/Dropbox/VO.meta

Library/
Temp/
obj/

.vs/
.vscode/

xcodeproject/
xcodeproj/

*.taghl
*.taghl.meta
*.swp
*.swo
tags
tags.meta


*.sln
*.suo
*.csproj
*.unityproj
*.userprefs

*.apk
*.app
*.ipa
*.obb

Recommendations.asset*

Assets/EasyMovieTexture/AndroidSource
